.burger {
    @include reset-button;
    @include squere(20px);
    min-width: 20px;
    @include flex-center;
    display: none;
    position: relative;
    z-index: 2;

    @include tablet {
        display: flex;
    }
}